### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [8]:
print(purchase_data)

     Purchase ID               SN   Age                 Gender  Item ID  \
0            0.0          Lisim78  20.0                   Male    108.0
1            1.0      Lisovynya38  40.0                   Male    143.0
2            2.0       Ithergue48  24.0                   Male     92.0
3            3.0    Chamassasya86  24.0                   Male    100.0
4            4.0        Iskosia90  23.0                   Male    131.0
5            5.0          Yalae81  22.0                   Male     81.0
6            6.0        Itheria73  36.0                   Male    169.0
7            7.0      Iskjaskst81  20.0                   Male    162.0
8            8.0        Undjask33  22.0                   Male     21.0
9            9.0      Chanosian48  35.0  Other / Non-Disclosed    136.0
10          10.0        Inguron55  23.0                   Male     95.0
11          11.0     Haisrisuir60  23.0                   Male    162.0
12          12.0     Saelaephos52  21.0                   Male    116.0
13          13.0      Assjaskan73  22.0                   Male      4.0
14          14.0      Saesrideu94  35.0                   Male    165.0
15          15.0        Lisassa64  21.0                 Female     98.0
16          16.0        Lisirra25  20.0                   Male     40.0
17          17.0        Zontibe81  21.0                   Male    161.0
18          18.0        Reunasu60  22.0                 Female     82.0
19          19.0        Chamalo71  30.0                   Male     89.0
20          20.0     Iathenudil29  20.0                   Male     57.0
21          21.0    Phiarithdeu40  20.0                   Male    168.0
22          22.0     Siarithria38  38.0  Other / Non-Disclosed     24.0
23          23.0         Eyrian71  40.0                   Male    151.0
24          24.0          Siala43  30.0                   Male    141.0
25          25.0        Lisirra87  29.0                   Male    178.0
26          26.0       Lirtossa84  11.0                   Male     71.0
27          27.0          Eusri44   7.0                   Male     96.0
28          28.0           Aela59  21.0                   Male    119.0
29          29.0          Tyida79  24.0                   Male     37.0
..           ...              ...   ...                    ...      ...
752        752.0    Mindjasksya61  17.0                   Male    112.0
753        753.0   Frichirranya75  36.0                   Male    178.0
754        754.0  Pheosurllorin41  23.0                 Female     79.0
755        755.0         Raesty92  12.0                   Male     76.0
756        756.0          Ilast79  20.0                   Male     73.0
757        757.0        Eratiel90  18.0                   Male     57.0
758        758.0           Iral74  21.0                   Male    182.0
759        759.0      Tyaelorap29  25.0                   Male     72.0
760        760.0       Aithelis62  21.0                   Male     44.0
761        761.0          Assim27  45.0                   Male     17.0
762        762.0           Asur53  26.0                   Male    110.0
763        763.0     Lassilsala30  21.0                   Male     85.0
764        764.0     Saedaiphos46  18.0                   Male    113.0
765        765.0          Irith83  18.0                   Male    130.0
766        766.0     Aelastirin39  23.0                   Male     58.0
767        767.0          Ilmol66   8.0                 Female     92.0
768        768.0     Assassasta79  38.0                   Male     92.0
769        769.0        Ilosian36  15.0                   Male    145.0
770        770.0       Lirtosia63  34.0                   Male     12.0
771        771.0     Iskossasda43  16.0                   Male     25.0
772        772.0           Asur53  26.0                   Male    136.0
773        773.0           Hala31  21.0                   Male     19.0
774        774.0       Jiskjask80  11.0                   Male    101.0
775        775.0       Aethedru70  21.0                 Female     60.0
776        776.0           Iral74  21.0                   Male    164.0
777        777.0       Yathecal72  20.0                   Male     67.0
778        778.0          Sisur91   7.0                   Male    101.0
779        779.0        Ennrian78  24.0                   Male     50.0
780          NaN              NaN   NaN                    NaN      NaN
781          NaN              NaN   NaN                    NaN      NaN

                                        Item Name  Price
0       Extraction, Quickblade Of Trembling Hands   3.53
1                               Frenzied Scimitar   1.56
2                                    Final Critic   4.88
3                                     Blindscythe   3.27
4                                            Fury   1.44
5                                       Dreamkiss   3.61
6          Interrogator, Blood Blade of the Queen   2.18
7                                   Abyssal Shard   2.67
8                                       Souleater   1.10
9                    Ghastly Adamantite Protector   3.58
10                          Singed Onyx Warscythe   4.74
11                                  Abyssal Shard   2.67
12                        Renewed Skeletal Katana   4.18
13                             Bloodlord's Fetish   1.70
14                    Bone Crushing Silver Skewer   4.86
15                    Deadline, Voice Of Subtlety   2.89
16                                  Second Chance   2.52
17                                         Devine   1.76
18                                        Nirvana   4.90
19              Blazefury, Protector of Delusions   4.64
20                Despair, Favor of Due Diligence   4.60
21            Sun Strike, Jaws of Twisted Visions   1.48
22                                  Warped Fetish   3.81
23                                      Severance   3.40
24                                     Persuasion   3.19
25   Oathbreaker, Last Hope of the Breaking Storm   4.23
26                                         Demise   1.61
27                    Blood-Forged Skeletal Spine   3.09
28      Stormbringer, Dark Blade of Ending Misery   4.32
29            Shadow Strike, Glory of Ending Hope   3.16
..                                            ...    ...
752                                  Worldbreaker   2.60
753  Oathbreaker, Last Hope of the Breaking Storm   4.23
754                           Alpha, Oath of Zeal   4.05
755                      Haunted Bronzed Bludgeon   3.15
756                                   Ritual Mace   2.05
757               Despair, Favor of Due Diligence   4.60
758                                     Toothpick   4.03
759                                 Winter's Bite   3.77
760                         Bonecarvin Battle Axe   2.38
761                  Lazarus, Terror of the Earth   1.70
762                                    Suspension   1.44
763                                Malificent Bag   1.75
764                             Solitude's Reaver   4.07
765                                         Alpha   2.07
766             Freak's Bite, Favor of Holy Might   4.14
767                                  Final Critic   4.88
768                                  Final Critic   4.88
769                          Fiery Glass Crusader   4.58
770                                         Dawne   1.02
771                                     Hero Cane   4.35
772                  Ghastly Adamantite Protector   3.58
773                 Pursuit, Cudgel of Necromancy   1.02
774                                  Final Critic   4.19
775                                          Wolf   3.54
776                              Exiled Doomblade   1.63
777         Celeste, Incarnation of the Corrupted   3.46
778                                  Final Critic   4.19
779                                          Dawn   4.60
780                                           NaN    NaN
781                                           NaN    NaN

[782 rows x 7 columns]

In [9]:
print(purchase_data["SN"].value_counts())

Lisosia93        5
Idastidru52      4
Iral74           4
Chamjask73       3
Silaera56        3
Hada39           3
Hiaral50         3
Iskadarya95      3
Asur53           3
Chamimla85       3
Ialallo29        3
Tyisur83         3
Idai61           3
Raesty92         3
Saistyphos30     3
Iri67            3
Strithenu87      3
Pheodaisun84     3
Lisopela58       3
Chadolyla44      3
Saedaiphos46     3
Sondastsda82     3
Yathecal82       3
Lisim78          3
Lassilsala30     3
Phaena87         3
Aina42           3
Inguron55        3
Aelin32          3
Siallylis44      3
                ..
Sondistanya61    1
Yadam35          1
Layjask75        1
Irilis75         1
Sondassan80      1
Ialidru40        1
Frichilsa31      1
Sally64          1
Alim85           1
Marilsanya48     1
Pheusrical25     1
Ririp86          1
Aisur51          1
Ennalmol65       1
Quanenrian83     1
Eusri26          1
Ethrasyon38      1
Assilsan72       1
Assim27          1
Lisadar44        1
Irith83          1
Tyaelly53        1
Sidap51          1
Qilatista90      1
Styaduen40       1
Aelidru27        1
Chanosiaya39     1
Qarirwen82       1
Saena89          1
Shaidanu32       1
Name: SN, Length: 576, dtype: int64

In [10]:
# Use the length of list of screen names "SN", for total players

total_players = len(purchase_data["SN"].value_counts())
print(total_players)

576

In [116]:
# Create a data frame with total players named player count

player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [117]:
# Calculations for unique items, average price, purchase count, and revenue
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create data frame with obtained values #DICTIONARY WITH LISTS

summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Format with currency style
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [118]:
print((purchase_data["Price"]).mean())
print((purchase_data["Purchase ID"]).count())
print(len((purchase_data["Item ID"]).unique()))
print((purchase_data["Price"]).sum())

3.050987179487176
780
183
2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [119]:
# Group purchase_data by Gender
gender_stats = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = (round(total_count_gender / total_players * 100))

# Create data frame with obtained values #DICTIONARY with Lists
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

gender_demographics

                       Percentage of Players  Total Count
Gender
Female                                  14.0           81
Male                                    84.0          484
Other / Non-Disclosed                    2.0           11

In [120]:
print(gender_stats.nunique()["SN"])

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [121]:
print(round(total_count_gender / total_players * 100))

Gender
Female                   14.0
Male                     84.0
Other / Non-Disclosed     2.0
Name: SN, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [122]:
# Count the total purchases by gender 
purchase_count = gender_stats["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = gender_stats["Price"].mean()

# Average purchase total by gender 
avg_purchase_total = gender_stats["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/total_count_gender

# Create data frame with obtained values #DICTIONARY with Lists
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})


gender_demographics

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [123]:
print(gender_stats["Purchase ID"].count())

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [124]:
print(gender_stats["Price"].mean())

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [125]:
print(gender_stats["Price"].sum())

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [126]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})



# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

age_demographics

           Percentage of Players  Total Count
Age Group
<10                     2.951389           17
10-14                   3.819444           22
15-19                  18.576389          107
20-24                  44.791667          258
25-29                  13.368056           77
30-34                   9.027778           52
35-39                   5.381944           31
40+                     2.083333           12

In [127]:
print((total_count_age/total_players) * 100)

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [128]:
print(age_grouped["SN"].nunique())

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})


# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})


age_demographics

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [130]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [131]:
print(spender_stats["Purchase ID"].count())

SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
Aelastirin39       2
Aelidru27          1
Aelin32            3
Aelly27            2
Aellynun67         1
Aellyria80         1
Aelollo59          2
Aenarap34          1
Aeral43            1
Aeral68            1
Aeral97            1
Aeralria27         1
Aeralstical35      1
Aeri84             1
Aerillorin70       1
Aerithllora36      2
Aerithnucal56      1
Aerithnuphos61     1
Aerithriaphos45    1
Aerithriaphos46    1
Aesri53            1
Aesty53            2
Aestysu37          2
Aesur96            1
Aesurstilis64      1
                  ..
Undosia27          1
Undosian34         2
Undotesta33        1
Wailin72           1
Yadacal26          2
Yadaisuir65        1
Yadam35            1
Yadanu52           1
Yadaphos40         2
Yalae81            2
Yalaeria91         1
Yaliru88           1
Yalo85             1
Yalostiphos68      1
Yana46             1
Yarithllodeu72     1
Yarithrgue83       1
Yarithrin84        1
Yarithsurgue62     1
Yarolwen77         1
Yasrisu92          1
Yastyriaphos75     1
Yasur35            1
Yasur85            1
Yathecal72         1
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3
Name: Purchase ID, Length: 576, dtype: int64

In [132]:
print(spender_stats["Price"].mean())

SN
Adairialis76       2.280000
Adastirin33        4.480000
Aeda94             4.910000
Aela59             4.320000
Aelaria33          1.790000
Aelastirin39       3.645000
Aelidru27          1.090000
Aelin32            2.993333
Aelly27            3.395000
Aellynun67         3.740000
Aellyria80         3.080000
Aelollo59          2.815000
Aenarap34          2.960000
Aeral43            4.400000
Aeral68            4.000000
Aeral97            4.800000
Aeralria27         4.090000
Aeralstical35      2.960000
Aeri84             1.610000
Aerillorin70       3.330000
Aerithllora36      4.320000
Aerithnucal56      4.400000
Aerithnuphos61     4.910000
Aerithriaphos45    1.560000
Aerithriaphos46    2.180000
Aesri53            1.760000
Aesty53            1.955000
Aestysu37          2.690000
Aesur96            2.210000
Aesurstilis64      1.030000
                     ...
Undosia27          3.770000
Undosian34         4.150000
Undotesta33        4.740000
Wailin72           2.730000
Yadacal26          3.270000
Yadaisuir65        4.090000
Yadam35            2.480000
Yadanu52           2.380000
Yadaphos40         2.675000
Yalae81            3.345000
Yalaeria91         1.060000
Yaliru88           3.030000
Yalo85             3.650000
Yalostiphos68      4.400000
Yana46             3.550000
Yarithllodeu72     3.750000
Yarithrgue83       3.450000
Yarithrin84        4.140000
Yarithsurgue62     4.940000
Yarolwen77         4.430000
Yasrisu92          3.440000
Yastyriaphos75     4.750000
Yasur35            4.480000
Yasur85            1.100000
Yathecal72         3.460000
Yathecal82         2.073333
Yathedeu43         3.010000
Yoishirrala98      4.580000
Zhisrisu83         3.945000
Zontibe81          2.676667
Name: Price, Length: 576, dtype: float64

In [133]:
print(spender_stats["Price"].sum())

SN
Adairialis76       2.28
Adastirin33        4.48
Aeda94             4.91
Aela59             4.32
Aelaria33          1.79
Aelastirin39       7.29
Aelidru27          1.09
Aelin32            8.98
Aelly27            6.79
Aellynun67         3.74
Aellyria80         3.08
Aelollo59          5.63
Aenarap34          2.96
Aeral43            4.40
Aeral68            4.00
Aeral97            4.80
Aeralria27         4.09
Aeralstical35      2.96
Aeri84             1.61
Aerillorin70       3.33
Aerithllora36      8.64
Aerithnucal56      4.40
Aerithnuphos61     4.91
Aerithriaphos45    1.56
Aerithriaphos46    2.18
Aesri53            1.76
Aesty53            3.91
Aestysu37          5.38
Aesur96            2.21
Aesurstilis64      1.03
                   ...
Undosia27          3.77
Undosian34         8.30
Undotesta33        4.74
Wailin72           2.73
Yadacal26          6.54
Yadaisuir65        4.09
Yadam35            2.48
Yadanu52           2.38
Yadaphos40         5.35
Yalae81            6.69
Yalaeria91         1.06
Yaliru88           3.03
Yalo85             3.65
Yalostiphos68      4.40
Yana46             3.55
Yarithllodeu72     3.75
Yarithrgue83       3.45
Yarithrin84        4.14
Yarithsurgue62     4.94
Yarolwen77         4.43
Yasrisu92          3.44
Yastyriaphos75     4.75
Yasur35            4.48
Yasur85            1.10
Yathecal72         3.46
Yathecal82         6.22
Yathedeu43         6.02
Yoishirrala98      4.58
Zhisrisu83         7.89
Zontibe81          8.03
Name: Price, Length: 576, dtype: float64

In [134]:
print(top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [135]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [136]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})